@import '../../colorPalette/palette.scss';
.home-container{
    width: 92vw;
    height: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.home-info{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.home-info div:nth-child(2){
    display: flex;
    gap: 1em;
}

.home-info div:nth-child(2) .avatar img{
    width: 2em;
}

.info-welcome{
    font-size: 2.5em;
    color: $space-cadet;
}

.info-user{
    color: $red-pantone;
}

.main-clients--container{
    width: 95%;
    margin-top: 4em;
}

.filter-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-buttons-container button img{
    width: 1.5em;
}

.filter-buttons-container button:hover{
    background-color: white;
}

.menu-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-top img{
    width: 1.5em;
    height: 1.5em;
}

.menu-options-container {
    margin-top: 1em;
}

.menu-options-container div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 3px solid $space-cadet;
}

.menu-options-container div:nth-child(1) p{
    font-weight: bold;
}

.options{
    margin-top: 1em ;
}

.options label{
    display: flex;
    justify-content: space-between;
    text-transform: initial;
}

.menu-options-buttons{
   margin-top: 2em; 
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.menu-options-buttons button:hover{
    background-color: $space-cadet;
    color: white;
}

.searchBox {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: $space-cadet;
    border-radius: 50px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }

  .clients-container{
    width: 90%;
    height: 100%;
    margin-top: 1em;
    display: flex;
  }

  .clients-container .left{
    width: 60%;
    height: 90%;
    overflow:  hidden;
    overflow-y: scroll;
    padding-right: 2em;
  }

  .left h4{
    font-weight: bold;
    color: $space-cadet;
    font-size: 1.5em;
  }

  .clients-container .left::-webkit-scrollbar{
    display: none;
  }

  .card{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 2em;
    transition: all ease .5s;
  }

  .card:hover{
    background-color: $space-cadet;
    color: white;
    transition: all ease .5s;
  }

  .card h3{
    margin: 0;
  }

  .clients-container .right{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .client{
    width: 70%;
    height: 100%;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .client:hover{
    transform: none;
    background: none;
    color: $space-cadet;
  }

  .client .avatar{
    width: 15em;
    height: 15em;
    background-color: white;
  }

  .client .avatar img{
    width: 100%;
  }

  .client h3{
    font-size: 2em;
    font-weight: bold;
    color: $space-cadet;
  }

  .client p{
    font-size: 1.5em;
    font-weight: 500;
    color: $space-cadet;
  }

  .addButton{
    z-index: 4;
    position: absolute;
    bottom: 10%;
    right: 43%;
    border-radius: 50%;
    background-color: white;
}

.addButton img{
    width: 5em;
}

form {
  background-color: $antiflash-white;
  box-shadow: 1em 1em $space-cadet;
  border-radius: 2em;
  padding: 20px;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  position: absolute;
  top: 25%;
  right: 40%;
  z-index: 2;
}


.dialog-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.dialog-top div p, .dialog-top p{
  color: $space-cadet;
  font-size: 1.3em;
  font-weight: bold;
}

.dialog-top div p:nth-child(2){
  font-size: 1em;
}

.form-container{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-container label{
  color: $space-cadet;
  font-weight: bold;
}

.input {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.form-buttons{
  display: flex;
  gap: 1em;
}

@media screen and (min-width: 320px) and (max-width: 728px){
    .home-container{
        width: 100vw;
        padding: 2em 1em 2em 1em;
        justify-content: flex-start;
    }

    .info-welcome{
        font-size: 1.5em;
    }

    .avatar{
        width: 3em;
        height: 3em;
    }

    .avatar img{
        width: 1em;
    }

    .searchBox{
        width: 75%;
        height: 4em;
    }

    .searchButton{
        width: 40px;
        height: 40px;
    }

    .main-clients--container{
        width: 100%;
        margin-top: 1em;
    }

    .clients-container{
        width: 100%;
    }

    .clients-container .right{
        position: absolute;
        z-index: 2;
        top: 3em;
        right: .3em;
        width: 100%;
    }

    .client{
      background-color: #fff;
      width: 90vw;
      height: 80vh;
    }

    .client:hover{
      background-color: #fff;
    }
    
    .clients-container .left{
        width: 100%;
        height: 35em;
        padding-bottom: 3em;
    }

    .avatar img{
        width: 100%;
    }

    .addButton{
        right: 12%;
        bottom: 12%;
    }

    .addButton img{
      width: 3em;
    }

    form{
      background-color: white;
      box-shadow: 1em 1em 3em 0px darkgray;
      border-radius: 1em;
      border: none;
      width: 90%;
      height: 86%;
      top: -3%;
      right: 6%;
      overflow: hidden;
      overflow-y: scroll;
    }

    .form-buttons button{
      padding: .5em !important;
      margin: 0 !important;
    } 

    .input-container{
      width: 97%;
    }
}



  
