@import "../../colorPalette/palette.scss";
.menu-container {
  width: 7vw;
  height: 100%;
  background-color: $antiflash-white;
  border-radius: 2em;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0.5em;
  overflow: hidden;
}

.menu-container:hover {
  transform: translateY(-1em);
  height: 104%;
  transition: all 0.5s ease-in-out;
  box-shadow: 7px 3px 43px -12px rgba(102, 97, 102, 1);
}

.menu-links--container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 4em;
  padding-bottom: 2em;
  justify-content: space-around;
  overflow: hidden;
  overflow-y: scroll;
}

.menu-links--container::-webkit-scrollbar {
  display: none;
}

.menu-logo {
  width: 65%;
  height: 10%;
  border-radius: 50%;
}

.menu-link {
  width: 90%;
  max-height: 7em;
  border-radius: 1em;
  background-color: $antiflash-white;
  border: 1px solid $space-cadet;
  padding: 2em 0.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.menu-link:hover {
  background-color: $space-cadet;
  transform: translateY(-0.5em);
  transition: all 0.2s ease-in-out;
}

.menu-link:hover .menu-link--label {
  color: white;
}

.active {
  background-color: $space-cadet;
}

.active .menu-link--label {
  color: white;
}

.menu-link--icon {
  width: 35%;
}

.menu-link--label {
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  color: $space-cadet;
  margin: 0;
}

.menu-mobile {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 728px) {
  .menu-container {
    display: none;
  }

  .menu-container:hover {
    transform: none;
    height: 5em;
  }

  .menu-mobile {
    display: block;
  }

  .mobile {
    background-color: $antiflash-white;
    box-shadow: 0 0 1em 0.5em $space-cadet;
    height: 5em;
    display: block;
    position: absolute;
    z-index: 1000;
    width: 26em;
    bottom: 0;
    overflow: hidden;
    overflow-x: scroll;
    right: -8px;
  }

  .avatar {
    display: none;
  }

  .menu-links--container {
    flex-direction: row;
    width: 45em;
    height: 4em;
    gap: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: none;
    scroll-snap-align: center;
  }

  .menu-link {
    min-height: 3em;
    width: 3em;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }

  .menu-link--icon {
    width: 65%;
  }

  .menu-link--label {
    display: none;
  }

  .menu-mobile {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 2em;
    left: -1em;
    z-index: 100000000;
  }
}
