<div class="main-container">
    <div class="info">
        <h1 [@fadeIn] [@slideRightToLeft]>Welcome</h1>
        <button class="nb-button default" [@fadeIn] [routerLink]="'/login'">Login</button>
        <button class="nb-button default"[@fadeIn] [routerLink]="'/signup'">Sign Up</button>
        <p>All rights reserved by Wooland IT</p>
    </div>
    <!-- <img src="../../assets/imagenes/main-image.png" alt="" [@slideRightToLeft]> -->
    <div class="circle circle2" [@slideRightToLeft]></div>
    <div class="circle circle1" [@fadeIn]></div>
</div>