<div class="home-container">
    <div class="home-info">
        <div>
            <h2 class="info-welcome">Mi Cuenta</h2>
            <p>Se unio el : 20/01/2024</p>
        </div>
        <div>
            <div class="avatar">
                <img src="../../assets/imagenes/bell-icon.png" alt="Avatar" />
             </div>
            <div class="avatar">
                <img src="../../assets/imagenes/user-icon.png" alt="Avatar" />
             </div> 
        </div>
    </div>
    <section class="main-clients--container">
        <div class="filter-buttons-container">
            <div class="">
                <button class="nb-button default card-button" style="margin-right: 1em; margin-bottom: 1em;">Editar Informacion de usuario</button>
            </div>

        </div>
       <div class="user-info">
           <div class="avatar-container">
               <div class="avatar bg-pale-red">
                   <img src='../../assets/imagenes/user-icon.png' alt="Avatar" />
                </div>
                <img src="../../assets/imagenes/camera-icon.png" alt="">
           </div>
           <form action="">
               <div style="display: flex; flex-direction: column; gap: 1.5em; width: 40%;">
                    <div style="display: flex;">
                        <label for="">Usuario</label>
                        <input class="nb-input default" placeholder="" type="text" />
                    </div>
                    <div style="display: flex;">
                        <label for="">Nombre</label>
                        <input class="nb-input default" placeholder="" type="text"/>
                    </div>
                    <div style="display: flex;">
                        <label for="">Fecha de Nacimiento</label>
                        <input class="nb-input default" placeholder="" type="date"/>
                    </div>
                    <div style="display: flex;">
                        <label for="">Edad</label>
                        <input class="nb-input default" placeholder="Text" type="text"/>
                    </div>
               </div>
               <div style="display: flex; flex-direction: column; gap: 1.5em; width: 40%;">
                    <div style="display: flex;">
                        <label for="">Telefono</label>
                        <input class="nb-input default" placeholder="" type="number" />
                    </div>
                    <div style="display: flex;">
                        <label for="">Email</label>
                        <input class="nb-input default" placeholder="" type="email"/>
                    </div>
                    <div style="display: flex;">
                        <label for="">Cargo</label>
                        <input class="nb-input default" placeholder="" type="text"/>
                    </div>
                    <div style="display: flex;">
                        <label for="">Nombre de Cargo</label>
                        <input class="nb-input default" placeholder="Text" type="text"/>
                    </div>
               </div>
           </form>
       </div>
       <div class="config">
            <h3>Configuración Avanzada de Usuario</h3>
            <div>
                <button>
                    Bloquear Usuario
                    <img src="../../assets/imagenes/candado-icon.png" alt="">
                </button>
                <button>
                    Descativar Cuenta
                    <img src="../../assets/imagenes/echufe-icon.png" alt="">
                </button>
                <button>
                    Suspender
                    <img src="../../assets/imagenes/reloj-icon.png" alt="">
                </button>
            </div>
        </div>
        <div class="form-buttons">
            <button class="nb-button default card-button" style="margin-right: 1em; margin-bottom: 1em;">Cancelar</button>
            <button class="nb-button default card-button" style="margin-right: 1em; margin-bottom: 1em;">Actualizar</button>
        </div>
    </section>
</div>
